
  .main-info {
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 1rem;
    .main-info-row{
      display: flex;
      justify-content: space-evenly;
      align-content: space-evenly;
    }
  }
  .secondary-info{
    display: flex;
    flex-direction: column;
    p{
      font-weight: bold;
      text-transform: uppercase;
    }
    #total_case{
      font-size: 3rem;
    }

  }
